<div class="container-fluid card-block">
  <div class="row flex-items-xs-middle">
    <div class="col-sm text-xs-center">
      <button (click)="startProtocol()">Start head-cast Protocol</button>
    </div>
    <div class="col-sm text-xs-center">
      <button (click)="stopProtocol()">Stop head-cast Protocol</button>
    </div>
  </div>
  <div class="row flex-items-xs-middle">
    <div class="col-sm text-xs-center">
    </div>
    <div class="col-sm text-xs-center">
    </div>
    <div class="col-sm text-xs-center">
    </div>
  </div>
</div>
