<ngb-alert [type]="connectionAlert.type" [dismissible]="false">
  {{ connectionAlert?.msg }}
</ngb-alert>
<div class="card">
  <!-- <div class="card-header text-xs-center"> -->
  <!--   Lavis Controls -->
  <!-- </div> -->
  <div class="container-fluid card-block">
    <div class="row flex-items-xs-middle">
      <div class="col-sm text-xs-center vertical-center">
        <button (click)="toggleConnect()">{{connected ? 'Close' : 'Connect'}}</button>
      </div>
      <div class="col-sm text-xs-center">
        <label>threshold:</label>
        <input type="number" (change)="setThreshold($event)" [min]="thresholdMin" [max]="thresholdMax" [(value)]="threshold"/>
      </div>
      <div class="col-sm text-xs-center">
        <button (click)="clearBuffers()">Clear Buffers</button>
      </div>
      <div class="col-sm text-xs-center">
        <button (click)="centerStage()">Center Stage</button>
      </div>
      <div class="col-sm">
        <label>status:</label>
        {{status}}
      </div>
      <div class="col-sm">
        <label>run time:</label>
        {{runTime}}
      </div>
    </div>
  </div>
</div>
